*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    min-height: 100vh;
}
html {
    font-size: 20px;
    line-height: 1.7;
}
.page {
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0;
    transform: translateX(-200%);
}
.page.active {
    opacity: 1;
    transform: translateX(0);
}
#header{
    background-color: rgb(253, 188, 188);
    position: absolute;
    font-size: 1.5rem;
}
#options{
    text-align: center;
    margin: 50% 5% 40% 5%; 
    padding: 5% 0 5% 0;
    border: 1px solid rgba(124, 121, 121, 0.534);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(124, 124, 124);
}
select{
    padding: 5px;
    background: rgba(255, 179, 179, 0.116);
}
#btnStart{
    height: 40px;
    width: 100px;
    border: none;
    color: #000;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 2px 2px rgb(124, 124, 124);
    margin-top: 5%;
    background-color: rgb(253, 188, 188);
}
#cards{
    height: 75%;
}
#imgHeader{
    height: 70%;
}
#imageProfile{
    height: 100%;
}
#iconHeart{
    font-size: 2.2rem;
    transform: rotate(40deg);
    color: rgb(148, 4, 4);
    position: absolute;
}
#defaultMsg{
    margin-top: 250px; 
    text-align: center;
    font-size: 1em;
}
#footer {
    background-color: rgb(253, 188, 188);
  }
.text-padding {
    margin-top: 2%;
    margin-left: 5%;
}
.listCard{
    padding: 5px;
    background-color: rgba(255, 179, 179, 0.116);
    transition: all 0.5s linear;
    opacity: 1;
}
.sendRight{
    transform: translateX(200%);
    opacity: 0;
}